{{>partial_header}}
package main

import "testing"

{{#operations}}
{{#operation}}
    //{{#isDeprecated}}DEPRECATED{{/isDeprecated}}
    func TestHandle{{nickname}}(t *testing.T){

    }
{{/operation}}
{{/operations}}