{{>partial_header}}
{{#operations}}{{#operation}}
package main

import (
	"net/http"
	"os"
	"time"

	"github.com/aws/aws-lambda-go/lambda"
	"github.com/awslabs/aws-lambda-go-api-proxy/httpadapter"
	"{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/{{sourceFolder}}/operations"
	"github.com/matryer/way"
)

func main() {
	r := way.NewRouter()
	r.HandleFunc("{{#lambda.uppercase}}{{httpMethod}}{{/lambda.uppercase}}", "{{path}}", Handle{{nickname}}(way.Param, operations.{{nickname}}))
	if runtimeURI := os.Getenv("AWS_LAMBDA_RUNTIME_API"); runtimeURI != "" {
		lambda.Start(httpadapter.New(r).ProxyWithContext)
	} else {
		server := &http.Server{
			Addr:              ":8080",
			ReadHeaderTimeout: 3 * time.Second,
			Handler:r,
		}

		err := server.ListenAndServe()
		if err != nil {
			panic(err)
		}	
	}
}
{{/operation}}
{{/operations}}

